add_newline = false
# A minimal left prompt
format = """
$username\
$directory\
$git_branch\
$git_status\
$fill\
$lua\
$c\
$python\
$nodejs\
$jobs\
$line_break\
$character"""
palette = "catppuccin_mocha"
# move the rest of the prompt to the right
right_format = """$cmd_duration"""
command_timeout = 1000

# ~/.config/starship.toml

[username]
style_user = 'white bold'
style_root = 'black bold'
format = '[$user]($style) '
disabled = false
show_always = true

[c]
format = ' [$name $version]($style)'

[cpp]
format = ' [$name $version]($style)'
detect_files = ['.cpp']

[character]
vicmd_symbol = "[N](bold yellow)"
success_symbol = '[➜](bold green)'
error_symbol = '[➜](bold red)'

[git_branch]
format =  '[$symbol$branch(:$remote_branch)]($style)'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
